body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body #magicMouseCursor {
    border: 5px double #ffdd8f9f;

}

.appHeader {
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  background: #FFDD8F;
  color: white;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 3px 7px 0 rgb(0 0 0 / 10%);

}

.aboutItem:active {
  color: #FFDD8F;
}

.aboutItem {
  color: "#FFDD8F";
}

.startImage {
  background-image: url("./assets/unsplash2.jpg");
  height: 25em;
  background-repeat: no-repeat;
  color: #FFDD8F;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  margin: 10%;
  align-items: center;
  max-width: 100%;
}

.ourMission {
  font-size: 7em;
}

@media screen and (max-width: 600px) {
  .ourMission {
    font-size: 6em;
  }
}